.stats-page {
  max-width: 500px;
  margin: auto;
}

/*Tarjeta estadísticas */
.stats-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}